@layer components {
  h1,
  .h1 {
    @apply font-lexend text-h1 leading-lg;
  }
  h2,
  .h2 {
    @apply font-lexend text-h2 leading-lg;
  }
  h3,
  .h3 {
    @apply font-lexend text-h3 leading-lg;
  }
  h4,
  .h4 {
    @apply font-lexend text-h4 leading-lg;
  }
  h5,
  .h5 {
    @apply font-lexend text-h5 leading-xl;
  }
  h6,
  .h6 {
    @apply font-lexend text-h6 leading-lg;
  }
  .body {
    @apply font-noir text-body leading-xl;
  }
  .subtitle {
    @apply font-lexend text-subtitle leading-lg;
  }

  .title-mobile {
    @apply font-lexend text-title-mobile leading-lg;
  }

  .body-small {
    @apply font-noir text-body-small leading-xl;
  }
  .small {
    @apply font-lexend text-small leading-lg;
  }
  .extra-small {
    @apply font-lexend text-extra-small leading-lg;
  }
  .tiny {
    @apply font-noir text-tiny leading-xl;
  }
  .headline {
    @apply font-lexend text-headline leading-lg;
  }
}
